@model PagedList<Sys_Notice>
@{
    ViewBag.ParentUrl = "/Notice/Index";
    ViewBag.Title = "邻信公告管理";
}
@section breadcrumb
{
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="/">控制台</a>
        </li>
        <li class="active">@ViewBag.Title</li>
    </ul><!-- .breadcrumb -->
}
<div class="row">
    <div class="col-xs-12">
        <div class="table-responsive">

            <h4 class="pink">
                <i class="ace-icon fa fa-hand-o-right icon-animated-hand-pointer blue"></i>
                <a href="###" role="button" class="green" data-toggle="modal">邻信平台的公告管理（全平台首页公告）</a>
            </h4>
            <div class="hr hr-18 dotted hr-double"></div>
            <div class="nav-search" id="nav-search" style="top: 6px;">
                <a class="btn btn-primary" href="/Notice/Edit">新建</a>
            </div><!-- #nav-search -->
            <!-- PAGE CONTENT BEGINS -->
            <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>标题</th>
                        <th>副标题</th>
                        <th>标签</th>
                        <th>内容</th>
                        <th>状态</th>
                        <th>时间</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var obj in Model)
                    {
                        <tr>
                            <td>@obj.N_Title</td>
                            <td>@obj.N_SubTitle</td>
                            <td>@obj.N_Tags</td>
                            <td>@obj.N_Content</td>
                            <td>@UtilPartialView.YesOrNo("上架中", "已下架", obj.N_State == 1)</td>
                            <td>@obj.N_Date</td>
                            <td>
                                @if (obj.N_State == (int)UserStatusEnum.冻结)
                                {
                                    <div class="btn-group">
                                        <a class="btn btn-xs btn-success tooltip-success" data-rel="tooltip" data-placement="top" title="公告上架" href="###" data-val="@obj.N_Id" name="btnOption">
                                            上架
                                            <i class="ace-icon fa fa-unlock bigger-120"></i>
                                        </a>
                                    </div>
                                }
                                else if (obj.N_State == (int)UserStatusEnum.正常)
                                {
                                    <div class="btn-group">
                                        <a class="btn btn-xs btn-danger tooltip-error" data-rel="tooltip" data-placement="top" title="公告下架" href="###" data-val="@obj.N_Id" name="btnOption">
                                            下架
                                            <i class="ace-icon fa fa-lock bigger-120"></i>
                                        </a>
                                    </div>

                                }
                                <div class="btn-group">
                                    <a class="btn btn-xs btn-info tooltip-info" data-rel="tooltip" data-placement="top" title="冻结帐号" href="/notice/edit/@obj.N_Id">
                                        编辑
                                        <i class="ace-icon fa fa-edit bigger-120"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @Html.Pager(Model, new PagerOptions { FirstPageText = "首页", PrevPageText = "上一页", NextPageText = "下一页", LastPageText = "末页", PageIndexParameterName = "pn", NumericPagerItemCount = 5, ContainerTagName = "ul", CssClass = "pagination", CurrentPagerItemTemplate = "<li class=\"active\"><a href=\"#\">{0}</a></li>", DisabledPagerItemTemplate = "<li class=\"disabled\"><a>{0}</a></li>", PagerItemTemplate = "<li>{0}</li>", Id = "mvcpager" })
        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.row -->
@section footer{
    <script src="/assets/js/bootbox.min.js"></script>
    <script>
        $(function () {
            //审核不通过
            $('a[name="btnOption"]').on('click', function () {
                $.post('/notice/Forzen', { id: $(this).data('val') }, function (o) {
                    //alert(o.Msg);
                    if ('ok' == o) {
                        bootbox.alert("操作成功！", function () {
                            //window.location.reload();
                            location.reload();
                        });
                    } else {
                        bootbox.alert("操作有误！");
                    }
                });
            });
        });
    </script>
}