@model PagedList<Core_BillMember>
@{
    ViewBag.ParentUrl = "/Bill/User";
    ViewBag.Title = "用户消费账单";
}
@section breadcrumb
{
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="/">首页</a>
        </li>
        <li class="active">@ViewBag.Title</li>
    </ul><!-- .breadcrumb -->
}
<div class="row">
    <div class="col-xs-12">
        <div class="table-responsive">

            <h4 class="pink">
                <i class="ace-icon fa fa-hand-o-right icon-animated-hand-pointer blue"></i>
                <a href="###" role="button" class="green" data-toggle="modal">用户账单管理：消费记录、充值记录、红包记录等</a>
            </h4>

            <div class="hr hr-18 dotted hr-double"></div>
            <!-- PAGE CONTENT BEGINS -->
            <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th></th>
                    <th>手机号</th>
                    <th>角色</th>
                    <th>业务模块</th>
                    <th>标题</th>
                    <th>金额</th>
                    <th>时间</th>
                    <th>备注</th>
                </tr>
                </thead>

                <tbody>
                    @foreach (var obj in Model)
                    {
                        <tr>
                            <td>@obj.B_Id</td>
                            <td>@obj.B_Phone</td>
                            <td>@Enum.GetName(typeof (MemberRoleEnum), obj.B_Type)</td>
                            <td>@Enum.GetName(typeof (BillEnum), obj.B_Module)</td>
                            <td>@obj.B_Title</td>
                            <td>
                                @if (obj.B_Money > 0)
                                {

                                    <span class="label label-success">@obj.B_Money.ToString("N")</span>
                                }
                                else
                                {
                                    <span class="label label-important">@obj.B_Money.ToString("N")</span>
                                }
                            </td>
                            <td>@obj.B_Time</td>
                            <td>@obj.B_Remark</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @Html.Pager(Model, new PagerOptions { FirstPageText = "首页", PrevPageText = "上一页", NextPageText = "下一页", LastPageText = "末页", PageIndexParameterName = "pn", NumericPagerItemCount = 5, ContainerTagName = "ul", CssClass = "pagination", CurrentPagerItemTemplate = "<li class=\"active\"><a href=\"#\">{0}</a></li>", DisabledPagerItemTemplate = "<li class=\"disabled\"><a>{0}</a></li>", PagerItemTemplate = "<li>{0}</li>", Id = "mvcpager" })
        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.row -->