@model PagedList<Core_AuditingVillage>
@{
    ViewBag.ParentUrl = "/Check/UserReg";
    ViewBag.Title = "用户社区认证";
}
@section breadcrumb
{
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="/">首页</a>
        </li>
        <li class="active">@ViewBag.Title</li>
    </ul><!-- .breadcrumb -->
}

<div class="row">
    <div class="col-xs-12">
        <div class="table-responsive">

            <h4 class="pink">
                <i class="ace-icon fa fa-hand-o-right icon-animated-hand-pointer blue"></i>
                <a href="###" role="button" class="green" data-toggle="modal">用户社区认证中，可能有的小区并不存在，管理员核实并通过认证，需预先设置新小区信息！</a>
            </h4>

            <div class="hr hr-18 dotted hr-double"></div>

            <div class="nav-search" id="nav-search" style="top: 6px;">
                <form class="form-search">
                    <span class="">
                        <input type="text" placeholder="用户昵称/电话号码/楼盘 关键字搜索" class="nav-search-input col-xs-10 col-sm-5" style="width: 280px;" id="key" name="key" value="@Request.QueryString["key"]">
                    </span>
                    <button type="submit" class="btn btn-info btn-xs">
                        <i class="ace-icon fa fa-search bigger-110"></i>
                        搜索
                    </button>
                </form>
            </div><!-- #nav-search -->
            @*<div class="nav-search" id="nav-search" style="top: 6px;">
                    <form class="form-search">
                        <span class="">
                            <input type="text" placeholder="楼盘名" class="nav-search-input" id="key" name="key" value="@Request.QueryString["key"]">
                        </span>
                        <button type="submit" class="btn btn-info btn-xs">
                            <i class="ace-icon fa fa-search bigger-110"></i>
                            搜索
                        </button>
                        <a class="btn btn-xs btn-success" href="@Url.Action("BuildingEdit", "VillageBuilding")">
                            <i class="icon-plus bigger-110"></i>
                            新增楼盘
                        </a>
                    </form>
                </div>*@<!-- #nav-search -->
            <!-- PAGE CONTENT BEGINS -->
            <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>用户电话</th>
                        <th>小区名</th>
                        <th>真实姓名</th>
                        <th>新小区?</th>
                        <th>状态</th>
                        <th>申请时间</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var obj in Model)
                    {
                        <tr>
                            <td>@obj.A_UPhone</td>
                            <td>@obj.A_BuildingName</td>
                            <td>@obj.A_TrueName</td>
                            @*<td class="hidden-480">@obj.A_DoorNo</td>*@
                            <td>@UtilPartialView.YesOrNo("否", "是", obj.A_BuildingId == Guid.Empty)</td>
                            <td>@Enum.GetName(typeof(AuditingEnum), obj.A_Status)</td>
                            <td>@obj.A_Time</td>

                            <td>
                                @if (obj.A_Status == (int)AuditingEnum.未认证)
                                {
                                    <div class="btn-group">
                                        <a class="btn btn-xs btn-success tooltip-success" data-rel="tooltip" data-placement="top" title="通过审核" href="/Check/Allow/@obj.A_Id">
                                            通过
                                            <i class="ace-icon glyphicon glyphicon-ok bigger-120"></i>
                                        </a>
                                        <a class="btn btn-xs btn-danger tooltip-error" data-rel="tooltip" data-placement="top" title="审核不通过" href="###" data-val="@obj.A_Id" name="btnDelete">
                                            拒绝
                                            <i class="ace-icon glyphicon glyphicon-remove bigger-120"></i>
                                        </a>
                                    </div>
                                }
                                else
                                {

                                    <div class="btn-group">
                                        <a class="btn btn-xs btn-info tooltip-info" data-rel="tooltip" data-placement="top" title="查看审核备注" href="###" data-time="@obj.A_CheckTime" data-notes="@obj.A_CheckBack" name="showNotes">
                                            查看备注
                                            <i class="ace-icon fa fa-comment bigger-120"></i>
                                        </a> 
                                    </div>
                                    
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @Html.Pager(Model, new PagerOptions { FirstPageText = "首页", PrevPageText = "上一页", NextPageText = "下一页", LastPageText = "末页", PageIndexParameterName = "id", NumericPagerItemCount = 5, ContainerTagName = "ul", CssClass = "pagination", CurrentPagerItemTemplate = "<li class=\"active\"><a href=\"#\">{0}</a></li>", DisabledPagerItemTemplate = "<li class=\"disabled\"><a>{0}</a></li>", PagerItemTemplate = "<li>{0}</li>", Id = "mvcpager" })
        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.row -->
@section footer{
    <script src="/assets/js/bootbox.min.js"></script>
    <script>
        $(function() {
            $('a[name="showNotes"]').on('click', function() {
                bootbox.alert('审核时间：'+$(this).data('time') + '<br/>备注：' + $(this).data('notes'), function () {
                    //window.location.reload();
                    location.reload();
                });
            });


            //审核不通过
            $('a[name="btnDelete"]').on('click', function() {
                var sid = $(this).data('val');
                bootbox.confirm("确定拒绝该用户的社区认证此？", function(o) {
                    if (o) {
                        bootbox.prompt("拒绝备注：", function(rs) {
                            if (rs) {
                                $.post('/Check/Auditing', { id: sid, buildId: null, state: 2, tips: rs }, function(o) {
                                    //alert(o.Msg);
                                    if ('ok' == o) {
                                        bootbox.alert("已拒绝！", function() {
                                            //window.location.reload();
                                            location.reload();
                                        });
                                    } else {
                                        bootbox.alert("操作有误！");
                                    }
                                });
                            }
                        });
                    }
                });
            });
        });
    </script>
}